section.content
	.content__container
		.content__container-left-side
			.feature_product
				.feature_product-title
					h Feature product
			.feature_product-card
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-1.jpg" width="1398" height="473" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					img.picture(src="static/img/content/pict-2.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-sale
					img.picture(src="static/img/content/pict-3.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					img.picture(src="static/img/content/pict-4.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-5.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					img.picture(src="static/img/content/pict-6.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-7.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-sale
					img.picture(src="static/img/content/pict-8.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-9.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
			.staff_pick
				.staff_pick-title
					h Staff pick
			.staff_pick-card
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-10.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					img.picture(src="static/img/content/pict-11.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-12.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
			.new_products
				.new_products-title
					h New products
			.new_products-card
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-13.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-14.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
				.picture-box
					.ribbon-new
					img.picture(src="static/img/content/pict-15.jpg" alt="Очки")
					span.descption Lorem ipsum dolor sit.
					span.price $388.00
					.basket
						+icon('basket')
		.content__container-right-side
			.top-slider
				.top-slider-title Featured<br> Glass
				.top-slider-picture-box
					.top-slider-picture
						input(type="submit" name="submit" value="Check it Out").btn-check.btn
				.top-slider-toggle
					.toggle.toggle-1.active
					.toggle.toggle-2
					.toggle.toggle-3
			.newsletters
				.newsletters-title Newsletters<br> Sign Up
				.newsletters-descption Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.
				form(action="" method="post").form-newsletters
					input(type="text" name="login" id="login-field" placeholder="")
					input(type="submit" name="submit" value="Subscribe").btn-subscribe.btn

