section.footer
	.footer-top
		.footer-top-container
			.footer-top-left
				.truck.icon-box
					+icon('truck','icon-top-footer')
				.truck-description Free shipping on orders over $100
			.footer-top-right
				.phone.icon-box
					+icon('phone','icon-top-footer')
				.phone-description Call us toll free -
				a(href="tel:+409-8888-0099") 409-8888-0099
	.footer-middle
		.footer-middle-container
			.facebook
				ul.facebook-list
					li.facebook-title Facebook
					li 20000 Members
					li
						a(href="#")
							.like-box
					li.mini-photo-gallary
						ul.mini-photo-gallary-box
							li.photo
								a(href="#")
									.photo-1
							li.photo-2.photo
								a(href="#")
							li.photo-3.photo
								a(href="#")
							li.photo-4.photo
								a(href="#")
							li.photo-5.photo
								a(href="#")
							li.photo-6.photo
								a(href="#")
							li.photo-7.photo
								a(href="#")
							li.photo-8.photo
								a(href="#")
					li facebook Social plugin
			.twitter
				ul.twitter-list
					li.twitter-title Twitter
					li.icon-box-middle-footer
						a(href="#")
							+icon('twitter')
					li.twitter-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eaque laudantium, qui vitae!
					li.icon-box-middle-footer
						a(href="#")
							+icon('twitter')
					li.twitter-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eaque laudantium, qui vitae!
			.information
				ul.information-list
					li.information-title Information
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
					li.icon-box-information
						+icon('arrow-right')
					li.information-description Lorem ipsum dolor sit.
			.contacts
				ul.contacts-list
					li.contacts-title Contacts
					li Leo Store
					li Leopard media
					li KVM Rpad 4590GH
					li
						a(href="#") +1 489-8888-0099
					li mail@email.com
					li
						ul.icon-box-social
							li.icon-box-social-1
								+icon('google-plus','icon-middle-footer')
							li.icon-box-social-2
								+icon('linkedin','icon-middle-footer')
							li.icon-box-social-3
								+icon('rss','icon-middle-footer')
							li.icon-box-social-4
								+icon('facebook','icon-middle-footer')
	.footer-bottom
		.footer-middle-container.clearfix
			.footer-bottom-left © Copyright 2013 Css Author, All Rights Reserved.
			.footer-bottom-right
				ul.footer-bottom-right-menu
					li
						a(href="#") About us
					li
						a(href="#") Delivery &amp; Returns
					li
						a(href="#") Terms &amp; Conditions
					li
						a(href="#") Contacts Us