section.slider
	.slider-conteiner
		.slider-title
			span Aluminium club
			span Experience ray-ban
		.slider-arrow-1.slider-arrow
			+icon('slide-arrow')
		.slider-arrow-2.slider-arrow
			+icon('slide-arrow', 'slide-arrow-left')