.btn
	color #fff
	font-size rem(16px)
	border none
	
.icon-box
	border-radius 50%
	
.like-box
	size(47px,25px)
	background url('../img/content/like.png') 0 0 no-repeat
	margin-bottom 13px

.icon-box-middle-footer
	position relative
	size(43px)
	border-radius 50%
	background-color #fff
	
.icon-middle-footer
	absolute-center()
	fill footerMiddleColor

.icon-twitter
	absolute-center()
	size(20px,17px)
	fill footerMiddleColor
	
.icon-box-information
	position relative
	size(6px,9px)
	
.icon-arrow-right
	absolute-center()
	size(6px,9px)
	fill #fff
	
.icon-box-social-1,
.icon-box-social-2,
.icon-box-social-3,
.icon-box-social-4
	position relative
	display inline-block
	size(36px)
	margin-right 10px
	border-radius 50%
	background-color #fff
	
.icon-google-plus
	size(17px)
	
.icon-linkedin
	size(17px)
	
.icon-rss
	size(15px,15px)
	
.icon-facebook
	size(15px,24px)