// ЦВЕТА

TopMenuColor = #4cb1ca
leftTopMenuColor = #bef2ff
topMenuTextColor = #f3fafb
bottomMenuTextColor = #656565
greenLabelColor = #7db122
arrowColor = #cdcdcd
contentTitle = #635f57
priceColor = #7db122
topLineColor = #4cb1ca
descriptionLineColor = #ededed
footerTopColor = #4cb1ca
footerMiddleColor = #39a0b9
footerBottomColor = #0b4b5a
footerBottomTextColor = #79c9dc

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "OpenSans-Regular"
lightFont = "OpenSans-Light"
boldFont = "OpenSans-Bold"